@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/originals/5c/43/d2/5c43d280ddfbd4a1b4c571874e699f8d.gif');
    background-position: center;
    background-size: cover;
}

.wrapper {
    width: 420px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #a55555;
    border-radius: 15px;
    padding: 40px 50px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box  input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    padding: 5px 7px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 17px;
    color:#7c4141
}

.input-box input::placeholder {
    color: #913f3f;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fbc1cc;
    border: none;
    outline: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: #a55555;
    font-weight: 600;
}

.btn:hover {
 background: #FFFF;
}